---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
        <meta name="description" content="Tejidos a mano y con amor. Tejelanas Vivi ofrece una variedad de productos tejidos a mano, ideales para regalar o disfrutar." />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		// Open Graph Meta Tags
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Tejidos a mano y con amor. Tejelanas Vivi ofrece una variedad de productos tejidos a mano, ideales para regalar o disfrutar." />
		<meta property="og:image" content="/src/assets/og-image.png" />
		<meta property="og:url" content="https://tejelanasvivi.cl" />
		<meta property="og:type" content="website" />
		<link rel="stylesheet" href="/src/styles/global.css">
	</head>
	<body>
        <Header />
        <main>
		    <slot />
        </main>
		<Footer />
	</body>
</html>
